.vs/Aldeia.Mercosu.Planilhas/v15/Server/sqlite3/db.lock
.vs/Aldeia.Mercosu.Planilhas/v15/Server/sqlite3/storage.ide-wal
.vs/Aldeia.Mercosu.Planilhas/v15/Server/sqlite3/storage.ide-wal
Aldeia.Mercosul.Planilhas/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vs/Aldeia.Mercosu.Planilhas/FileContentIndex/034c921e-2218-4b71-bc62-2a475bef8c7d.vsidx
.vs/Aldeia.Mercosu.Planilhas/FileContentIndex/18937e1a-b332-48d5-88fe-cd4ef47fe033.vsidx
.vs/Aldeia.Mercosu.Planilhas/FileContentIndex/7bd31194-06fc-41cd-8698-f7943c159015.vsidx
.vs/Aldeia.Mercosu.Planilhas/FileContentIndex/7dfee395-4509-479c-96c5-8829e34f45e5.vsidx
.vs/Aldeia.Mercosu.Planilhas/FileContentIndex/a74de9d5-1ecc-44dc-b85a-2aa2c780ba24.vsidx
.vs/Aldeia.Mercosu.Planilhas/FileContentIndex/edd64247-7d51-45d0-92f6-bb6a38f3c99e.vsidx
