<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <!-- Para arquivos .xlsx (Excel 2007 e superior) -->
    <add name="ExcelConnection"
          connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 12.0 Xml;HDR=YES;IMEX=1';"
          providerName="System.Data.OleDb" />

    <!-- Para arquivos .xls (Excel 97-2003) -->
    <!--
      <add name="ExcelConnectionOld"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES;IMEX=1';"
            providerName="System.Data.OleDb" />
      -->
  </connectionStrings>
  <userSettings>
    <SeuProjeto.Properties.Settings>
      <!-- Nome da ABA do XMl que deve ser lido - Invenarda Adulta Força A -->
      <setting name="InscricaoInvernadaAdultaForcaA" serializeAs="String">
        <value>ADULTA A</value>
      </setting>
      <!-- Nome da ABA do XMl que deve ser lido - Invenarda Adulta Força B -->
      <setting name="InscricaoInvernadaAdultaForcaB" serializeAs="String">
        <value>ADULTA B</value>
      </setting>
      <!-- Nome da ABA do XMl que deve ser lido - Invenarda Xiru -->
      <setting name="InscricaoInvenadaXiru" serializeAs="String">
        <value>XIRÚ</value>
      </setting>
      <!-- Nome da ABA do XMl que deve ser lido - Invenarda  Veterana -->
      <setting name="InscricaoInvenadaVeterana" serializeAs="String">
        <value>VETERANA</value>
      </setting>
      <!-- Nome da ABA do XMl que deve ser lido - Invenarda Juvenil -->
      <setting name="InscricaoInvenadaJuvenil" serializeAs="String">
        <value>JUVENIL</value>
      </setting>
      <!-- Nome da ABA do XMl que deve ser lido - Invenarda Mirim -->
      <setting name="InscricaoInvenadaMirim" serializeAs="String">
        <value>MIRIM</value>
      </setting>
      <!-- Nome da ABA do XMl que deve ser lido - Invenarda Mini Mirim -->
      <setting name="InscricaoInvenadaMiniMirim" serializeAs="String">
        <value>MINI MIRIM</value>
      </setting>
    </SeuProjeto.Properties.Settings>
  </userSettings>
</configuration>